@font-face {
  font-family: 'PagesGrotesqueRegularDemo';
  src: url("./assets/fonts/PagesGrotesqueRegularDemo.otf") format('opentype');
}

@font-face {
  font-family: 'QfortheMemories';
  src: url("./assets/fonts/QfortheMemories.otf") format('opentype');
} 

/* 
@font-face {
  font-family: 'PagesGrotesqueBoldDemo';
  src: url("./assets/fonts/PagesGrotesqueBoldDemo.otf") format('opentype');
}

@font-face {
  font-family: 'PagesGrotesqueBlackDemo';
  src: url("./assets/fonts/PagesGrotesqueBlackDemo.otf") format('opentype');
}


@font-face {
  font-family: 'PagesGrotesqueBlackItalicDemo';
  src: url("./assets/fonts/PagesGrotesqueBlackItalicDemo.otf") format('opentype');
}
 
@font-face {
  font-family: 'PagesGrotesqueBoldItalicDemo';
  src: url("./assets/fonts/PagesGrotesqueBoldItalicDemo.otf") format('opentype');
}

@font-face {
  font-family: 'PagesGrotesqueItalicDemo';
  src: url("./assets/fonts/PagesGrotesqueItalicDemo.otf") format('opentype');
}

@font-face {
  font-family: 'PagesGrotesqueLightItalicDemo';
  src: url("./assets/fonts/PagesGrotesqueLightItalicDemo.otf") format('opentype');
}


@font-face {
  font-family: 'PagesGrotesqueLightDemo';
  src: url("./assets/fonts/PagesGrotesqueLightDemo.otf") format('opentype');
}


@font-face {
  font-family: 'PagesGrotesqueRegular';
  src: url("./assets/fonts/PagesGrotesqueRegularDemo.otf") format('opentype');
} */


/* @font-face {
  font-family: 'PagesGrotesqueThinDemo';
  src: url("./assets/fonts/PagesGrotesqueThinDemo.otf") format('opentype');
} */

/* @font-face {
  font-family: 'PagesGrotesqueThinItalicDemo';
  src: url("./assets/fonts/PagesGrotesqueThinItalicDemo.otf") format('opentype');
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
                'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
                PagesGrotesqueRegularDemo, QfortheMemories,
                sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-family-1 {
  font-family: "PagesGrotesqueRegularDemo" !important;
}

.font-family-2 {
  font-family: "QfortheMemories" !important;
}